@model AdministrateGamesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Add game</h1>
    <form asp-action="AddGames">
        <label asp-for="GameToAdd.Title" value="@Model.GameToAdd.Title"></label>
        <input asp-for="GameToAdd.Title" value="@Model.GameToAdd.Title" placeholder="@Model.GameToAdd.Title"/>
        <br/>

        <label asp-for="GameToAdd.Author" value="@Model.GameToAdd.Author"></label>
        <input asp-for="GameToAdd.Author" value="@Model.GameToAdd.Author" placeholder="@Model.GameToAdd.Author"/>
        <br/>

        <label asp-for="GameToAdd.Description" value="@Model.GameToAdd.Description"></label>
        <input asp-for="GameToAdd.Description" value="@Model.GameToAdd.Description" placeholder="@Model.GameToAdd.Description"
               class="text-body"/>
        <br/>

        <input type="submit" value="Add Game" class="btn btn-sm btn-success text-uppercase rounded-0"/>
    </form>

    <h1 class="display-4">All games</h1>

    @foreach (var game in Model.Games)
    {
        <div>
            @Html.Label(game.Title)<br/>
        </div>
    }
</div>