@model AdministrateGamesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Add game</h1>
    <form>
        <label asp-for="GameToAdd.Title" value="@Model.GameToAdd.Title"></label>
        <input asp-for="GameToAdd.Title" value="@Model.GameToAdd.Title" placeholder="@Model.GameToAdd.Title"/>
        <br/>

        <label asp-for="GameToAdd.Author" value="@Model.GameToAdd.Author"></label>
        <input asp-for="GameToAdd.Author" value="@Model.GameToAdd.Author" placeholder="@Model.GameToAdd.Author"/>
        <br/>

        <label asp-for="GameToAdd.Description" value="@Model.GameToAdd.Description"></label>
        <textarea asp-for="GameToAdd.Description" value="@Model.GameToAdd.Description" placeholder="@Model.GameToAdd.Description"
               class="text-body"></textarea>
        <br/>

        <input type="button" value="Add Game" class="btn btn-default" onclick="administrateGames_addGame()"/>
    </form>

    <div>
        <span id="saveResultMessage" style="display: none"></span>
    </div>

    <h1 class="display-4">All games</h1>

    <div>
        @foreach (var game in Model.Games)
        {
            <a asp-controller="SpecificGame" asp-action="Index" asp-route-id="@game.GameId">@Html.Label(game.Title)</a>
            <br/>
        }
    </div>
</div>
