@model Game

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game info</h1>

    <div class="card">
        <form asp-action="EditGame">
            @Html.HiddenFor(m => m.GameId)
            Title: @Html.TextBoxFor(m => m.Title)<br/>
            Author: @Html.TextBoxFor(m => m.Author)<br/>
            Description: @Html.TextBoxFor(m => m.Description)<br/>
            Date added: @Html.TextBoxFor(m => m.GameAddedDate)

            <input type="submit" value="Edit"/>
        </form>
    </div>
</div>